*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.product h1{
    width: 100%;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    color: black;
}

.product-item{
    width: 100%;
    height: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.product-card{
    /* position: relative; */
    background-color: #f7f6f9;
    width: 350px;
    height: 100%;
    box-shadow: 0 5px 20px rgb(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;

}

.product-card:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.image{
    width: 100%;
    height: 60%;
    display: grid;
    place-items: center;
}

.image img{
    width: 240px;
}

.product-prices{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}



.product-price-new {
    color: #1b2741;
    display: flex;
    font-size:18px;
    text-transform: capitalize;
}

.product-price-old{
    color: #f67034;
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
    

}

.company-name{
    display: flex;
    margin-top: 10px;
}

.stars{
    font-size: 1.3em;
    margin-top: 10px;
    color: #f67034;

}
/* #1b2741  #f7f6f9*/
.buy{
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.buy button{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: #1b2741;
    color: #f7f6f9;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}

.buy button:hover{
    transform: scale(1.1);
}