body {
    font-family: Arial, sans-serif;
    
    
}

.searchBar-container{
    margin-left: 400px;
}
.search-container {
     display: flex;
     align-items: flex-start;
}
.search-container img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-top: 5px;
}
.display-area {
    font-size: 16px;
    color: white; /* Text color */
    margin-top: 20px; 
    margin-left: 180px;
}

#search-input {
    padding: 10px;
    height: 50px;
    width: 600px;
    border: 1px solid #ccc; /* Border style */
    border-radius: 30px; /* Rounded corners */
    margin-top: 15px;
}




/* @media only screen and (max-width: 1180px){
    .searchBar-container{
        margin-left: 300px;
    }
    .display-area{
        margin-left: 0;
    }
} */
/* @media only screen and (max-width: 1040px){
    .searchBar-container{
        margin-left: 220px;
    }
}
@media only screen and (max-width: 940px){
    .searchBar-container{
        margin-left: 160px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 800px){
    .searchBar-container{
        margin-left: 140px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 670px){
    .searchBar-container{
        margin-left: 100px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 630px){
    .searchBar-container{
        margin-left: 60px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 589px){
    .searchBar-container{
        align-items: center;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 520px){
    .searchBar-container{
        margin-left: 40px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px){
    .searchBar-container{
        margin-left: 30px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px){
    .searchBar-container{
        margin-left: 20px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 460px){
    .searchBar-container{
        margin-left: 10px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 450px){
    .searchBar-container{
        width: 390px;
        margin-left: 40px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 430px){
    .searchBar-container{
        width: 370px;
        margin-left: 40px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 410px){
    .searchBar-container{
        width: 350px;
        margin-left: 40px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 390px){
    .searchBar-container{

        width: 330px;
        margin-left: 40px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 370px){
    .searchBar-container{
        width: 310px;
        margin-left: 40px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 350px){
    .searchBar-container{
        width: 290px;
        margin-left: 40px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 330px){
    .searchBar-container{
        width: 270px;
        margin-left: 40px;
    }
    .display-area{
        margin-left: 0;
    }
}

@media only screen and (max-width: 310px){
    .searchBar-container{
        width: 250px;
        margin-left: 40px;
    }
    .display-area{
        margin-left: 0;
    }
} */