body {
    font-family: Arial, sans-serif;
}

.searchBar-container{
    margin-left: 400px;
}
.search-container {
     display: flex;
     align-items: flex-start;
}
.search-container img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-top: 30px;
}
.display-area {
    font-size: 16px;
    color: white; /* Text color */
    margin-top: 20px; 
    margin-left: 20px;
}

#search-input {
    padding: 10px;
    height: 25px;
    width: 400px; /* Set a width for the input */
    border: 1px solid #ccc; /* Border style */
    border-radius: 50px; /* Rounded corners */
    margin-top: 40px;
}




@media only screen and (max-width: 1180px){
    .searchBar-container{
        margin-left: 300px;
    }
}

@media only screen and (max-width: 960px){
    .searchBar-container{
        margin-left: 200px;
    }
}

@media only screen and (max-width: 800px){
    .searchBar-container{
        margin-left: 140px;
    }
}

@media only screen and (max-width: 670px){
    .searchBar-container{
        margin-left: 100px;
    }
}

@media only screen and (max-width: 630px){
    .searchBar-container{
        margin-left: 60px;
    }
}

@media only screen and (max-width: 589){
    .searchBar-container{
        margin-left: 80px;
    }
}