{% extends 'base.html' %} {% block content %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
    <link rel="stylesheet" href="{% static './css/detail.css' %}" />
  </head>
  <body>
    <section class="pd-section">
      <div class="product-container">
        <!-- left side -->

        <div class="img-card">
          <img
            src="https://avatars.mds.yandex.net/i?id=53dace59692a30797dc722e0d6cf0d89d062559f_l-5232628-images-thumbs&ref=rim&n=13&w=800&h=800"
            alt=""
            id="featured-image"
          />
          <!-- small img -->
          <div class="small-Card">
            <img
              src="https://avatars.mds.yandex.net/i?id=686f937606251e0825e22f0f12344ca1c6de9db6_l-10514561-images-thumbs&ref=rim&n=13&w=800&h=800"
              alt=""
              class="small-Img"
            />
            <img
              src="https://avatars.mds.yandex.net/i?id=686f937606251e0825e22f0f12344ca1c6de9db6_l-10514561-images-thumbs&ref=rim&n=13&w=800&h=800"
              alt=""
              class="small-Img"
            />
            <img
              src="https://avatars.mds.yandex.net/i?id=686f937606251e0825e22f0f12344ca1c6de9db6_l-10514561-images-thumbs&ref=rim&n=13&w=800&h=800"
              alt=""
              class="small-Img"
            />
            <img
              src="https://avatars.mds.yandex.net/i?id=53dace59692a30797dc722e0d6cf0d89d062559f_l-5232628-images-thumbs&ref=rim&n=13&w=800&h=800"
              alt=""
              id="featured-image"
              alt=""
              class="small-Img"
            />
          </div>
        </div>

        <!-- Right side -->

        <div class="product-info">
          <h3>Egyptian Pyramids</h3>

          <!-- Rate Stars -->

          <div class="rating">
            <div class="rating-container">
              <span id="selected-rating">(Star 0)</span>
            </div>
            <div>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>

            <!--  script to adda functionality for rating part -->
          </div>

          <!--  -->
          <h5>Price: $140 <del class="pd-oldPrice">$170</del></h5>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            accusantium, aspernatur provident beatae corporis veniam atque
            facilis, consequuntur assumenda, vitae dignissimos iste
            exercitationem dolor eveniet alias eos ullam nesciunt voluptatum.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            accusamus natus dolorum. Quaerat nulla quod doloremque, officia quis
            provident amet adipisci unde esse iure delectus, maxime inventore
            optio fuga nisi?
          </p>

          <!-- Size , quantity button part -->

          <div class="sizes">
            <p>Size:</p>
            <select name="Size" id="size" class="size-option">
              <option value="xxl">XXL</option>
              <option value="xl">XL</option>
              <option value="medium">Medium</option>
              <option value="small">Small</option>
            </select>
          </div>

          <div class="quantity">
            <input type="number" value="1" min="1" />

            <button>Add to Cart</button>

            <!-- Size , quantity button part -->
          </div>

          <div>
            <p>Delivery:</p>
            <p>
              Free standard shipping on orders over $35 before tax, plus free
              returns.
            </p>
            <div class="delivery">
              <p>TYPE</p>
              <p>HOW LONG</p>
              <p>HOW MUCH</p>
            </div>
            <hr />
            <div class="delivery">
              <p>Standard delivery</p>
              <p>1-4 business days</p>
              <p>$4.50</p>
            </div>
            <hr />
            <div class="delivery">
              <p>Express delivery</p>
              <p>1 business day</p>
              <p>$10.00</p>
            </div>
            <hr />
            <div class="delivery">
              <p>Pick up in store</p>
              <p>1-3 business days</p>
              <p>Free</p>
            </div>
          </div>
        </div>
      </div>

      <div class="review-section">
        <div class="a">
          <h2>Leave a Review</h2>
          <textarea
            id="review-text"
            placeholder="Write your review here..."
          ></textarea>
          <button id="add-review-button">Add Review</button>
        </div>

        <div id="reviews-container">
          <h3>Reviews:</h3>

          <!-- User reviews will be displayed here -->
        </div>
      </div>

      <div class="similarBlock">
        <h2>Complate Your Look</h2>
      </div>

      <!-- Script to add a review -->
      <script>
        let review = document.getElementById("review-text");
        let addbutton = document.getElementById("add-review-button");
        let areareview = document.getElementById("reviews-container");
        let i = 1;

        addbutton.addEventListener("click", function () {
          let userreview = document.createElement("div");
          let username = document.createElement("h5");
          let usercomment = document.createElement("p");
          let hr = document.createElement("hr");

          let text = review.value;
          username.textContent = `User${i}`;
          usercomment.textContent = text;
          userreview.appendChild(username);
          userreview.appendChild(usercomment);
          userreview.appendChild(hr);
          areareview.appendChild(userreview);
          i++;
          review.value = "";
        });
      </script>
    </section>

    <!-- Scripot to change a photo in product -->
    <script>
      let featuedImg = document.getElementById("featured-image");
      let smallImgs = document.getElementsByClassName("small-Img");

      smallImgs[0].addEventListener("click", () => {
        featuedImg.src = smallImgs[0].src;
        smallImgs[0].classList.add("sm-card");
        smallImgs[1].classList.remove("sm-card");
        smallImgs[2].classList.remove("sm-card");
        smallImgs[3].classList.remove("sm-card");
        smallImgs[4].classList.remove("sm-card");
      });
      smallImgs[1].addEventListener("click", () => {
        featuedImg.src = smallImgs[1].src;
        smallImgs[0].classList.remove("sm-card");
        smallImgs[1].classList.add("sm-card");
        smallImgs[2].classList.remove("sm-card");
        smallImgs[3].classList.remove("sm-card");
        smallImgs[4].classList.remove("sm-card");
      });
      smallImgs[2].addEventListener("click", () => {
        featuedImg.src = smallImgs[2].src;
        smallImgs[0].classList.remove("sm-card");
        smallImgs[1].classList.remove("sm-card");
        smallImgs[2].classList.add("sm-card");
        smallImgs[3].classList.remove("sm-card");
        smallImgs[4].classList.remove("sm-card");
      });
      smallImgs[3].addEventListener("click", () => {
        featuedImg.src = smallImgs[3].src;
        smallImgs[0].classList.remove("sm-card");
        smallImgs[1].classList.remove("sm-card");
        smallImgs[2].classList.remove("sm-card");
        smallImgs[3].classList.add("sm-card");
        smallImgs[4].classList.remove("sm-card");
      });
      smallImgs[4].addEventListener("click", () => {
        featuedImg.src = smallImgs[4].src;
        smallImgs[0].classList.remove("sm-card");
        smallImgs[1].classList.remove("sm-card");
        smallImgs[2].classList.remove("sm-card");
        smallImgs[3].classList.remove("sm-card");
        smallImgs[4].classList.add("sm-card");
      });
    </script>

    <!--  how to add a footer css ? -->
    <div width="100%" height="500px">
      {% include 'footer.html' %}
  </div>
  </body>

  {% endblock %}
</html>
