{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <title>Product List</title>
</head>
<body>
    <div class="product" style="margin-top: 250px; margin-bottom: 200px;">
        <h1>POPULAR IN OUR STORE</h1>
        <hr />
        <div class="product-item" id="product-list">
            <div class="product-card">
                <div class="image">
                    <img src="" alt="Product Name" class="product-image" />
                    <img src='../static/Images/heart.png' alt="" class="heart-icon" style="width: 35px; height: 35px"/>
                    <img src='../static/Images/red-hearticon.png' alt="" class="red-heart-icon" style="width: 35px; height: 35px"/>
                </div>
                <div class="product-prices">
                    <div class="product-price-new">New Price</div>
                    <div class="product-price-old">Old Price</div>
                </div>
                <h3 class="company-name">Company Name/ID</h3>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="buy">
                    <a href="{% url 'detail' 1 %}">
                        <button>Buy Now</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Pass product data to JavaScript -->
    <script type="text/javascript">
        const productData = {{ product_data|safe }};  
    </script>
    
    <script src="{% static 'js/product.js' %}" type="module"></script>
</body>
</html>
