{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <title>Product List</title>
</head>
<body>
    <div class="product">
        <h1>POPULAR IN OUR STORE</h1>
        <hr />
        <div class="product-item" id="product-list"></div>
    </div>

    <!-- Pass product data to JavaScript -->
    <script type="text/javascript"  >
        const productData = {{ product_data | safe }};
    </script>
    
    <script src="{% static 'js/product.js' %}" type="module"></script>
</body>
</html>
